#gameContainer{
    display:inline-flex;
    padding-top:0;
}

div{
    margin-right:5px;
    margin-left:5px;
}
#counter{
    font-size: 75px;
    padding: 20px;
}
#touchCtrl{
    display: inline-flex;
}
#leftArrow, #rightArrow, #rotationArrow{
    opacity: 0.2;
    box-sizing: border-box;
    padding: none;
}
#leftArrow img, #rightArrow img, #rotationArrow img{
    width: auto;
    height: auto;
    max-width: 60px;
}
